[Unit]
Description=GenAI Telephone Script using whisper and azure
After=multi-user.target
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/whisper.py
WorkingDirectory=/home/pi
User=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
