[Unit]
Description=Random facts from the telephone
After=multi-user.target
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/genAI-telephone/whisper.py
WorkingDirectory=/home/pi/genAI-telephone
User=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
